{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top:80px;">

        <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
            {% include 'messages.html' %} </div>

        <h3 class="default-style"> Портал оформления заказа</h3>
        <hr>
        <p class="default-style"> Пожалуйста, заполните форму, чтобы завершить ваш заказ</p>

        <form action="checkout_req/process" method="POST">
            {% csrf_token %}
            <meta charset="UTF-8">
            <p class="default-style register-infos text-left"><b>Информация о доставке</b></p>
            <div class="форм-группа col-md-6">
                <label for="first_name">Имя</label>
                <input type="text" class="form-control" name="first_name" id="first_name"
                       placeholder="Введите ваше имя">
            </div>

            <div class="форм-группа col-md-6">
                <label for="first_name">Фамилия</label>
                <input type="text" class="form-control" name="last_name" id="last_name"
                       placeholder="Введите вашу фамилию">
            </div>

            <div class="форм-группа col-md-6">
                <label for="address">Адрес</label>
                <input type="text" class="form-control" name="address" id="address" placeholder="Введите улицу">
            </div>
            <div class="форм-группа col-md-6">
                <label for="city">Город</label>
                <input type="text" class="form-control" name="city" id="city" placeholder="Введите ваш город">
            </div>
            <div class="форм-группа col-md-6">
                <label for="division">Область</label>
                <input type="text" class="form-control" name="division" id="division"
                       placeholder="Введите вашу область">
            </div>
            <div class="форм-группа col-md-6">
                <label for="zip">Почтовый индекс</label>
                <input type="text" class="form-control" name="zip" id="zip" placeholder="Введите ваш почтовый индекс">
            </div>
            <div class="форм-группа col-md-6">
                <label for="country">Страна</label>
                <input type="text" class="form-control" name="country" id="country"
                       placeholder="Введите вашу страну">
            </div>

            <p class="default-style register-infos text-left pt-3"><b>Информация о платеже</b></p>

            <p class="register-infos"> Наш номер Bkash: 0184XXXXXXXX</p>

            <div class="форм-группа col-md-6">
                <label for="transaction_id">Bkash Payment</label>
                <input type="text" class="form-control" name="transaction_id" id="transaction_id"
                       placeholder="Ваш Bkash ID транзакции">
                <input type="text" class="form-control" name="order_note" id="order_note"
                       placeholder="Примечание к заказу (если есть)">
                <button class="btn btn-primary" type="submit"> Отправить</button>
            </div>
        </form>
    </div>
{% endblock content %}
