{% load static %}

<div class="col-12 col-md-2 d-none d-md-block d-lg-block" style="background:url({% static 'images/slidebar.png' %});height:100vh;">
    <i class="fa-solid fa-user"></i>

    <div class="list-group" id="MyTab" role="tablist">
        <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/"><i class="fa-solid fa-house"></i> Панель управления</a>
        {% if user.is_staff %}
            <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/product_list"><i class="fa-solid fa-plus"></i> Список продукции</a>
        {% endif %}
        <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/orders"><i class="fa-solid fa-box-open"></i> Заказы</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/profile_edit"><i class="fa-solid fa-user-pen"></i> Редактировать профиль</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="/dashboard/change_pwd"><i class="fa-solid fa-wrench"></i> Изменить пароль</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="/feedback"><i class="fa-solid fa-wrench"></i> Обратная связь</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Выйти</a>
    </div>
</div>
